
@{
    ViewBag.Title = "Index";
}

<h2>Doctors Pannel</h2>

<p>Edit here add graphics improvement etc</p>
@Html.ActionLink("View All Appoinments", "ViewAppoinment", "Doctor")
@Html.ActionLink("Upload Test Result of Patient", "", "")

