
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Sign up", "Signup" , "Login") <br />
@Html.ActionLink("Are you User" , "Login" , "Login") <br />
@Html.ActionLink("Are you a Reseptionist ?" , "Rlogin" , "Login") <br />
@Html.ActionLink("Are you a Doctor?" , "Dlogin" , "Login") <br />

